<div class="main">
    <div style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 200%; cursor: pointer; position: absolute; top: 10vh; right: 10vh; color: white;" (click) = "logout()">Logout</div>
    <div style = "font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 200%; cursor: pointer; position: absolute; top: 10vh; left: 10vh; color: white;" (click) = "logout()">Hello, user id {{user.uid}}</div>
    <div class = "line">
        <img src="../../assets/images/line.png" height="340">
    </div>
    <div class="circle">
        <img src="../../assets/images/cirlce.png">
    </div>
    <div class="triangle">
        <img src="../../assets/images/triangle.png">
    </div>
   
</div>